@import "bootstrap/bootstrap.scss";

#logo {
    width: 268px;  
}

.input_icon {
    background-color: $secondary;
}

/* INPUT */
#input {
    height: 69px;
    background-color: $secondary;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
       &:focus {
           box-shadow: none;
       }   
}

form span {
    width: 60px;
}

form img {
    height: 32px;
}

/* BOUTON ingrédients */
#boutton_ingredients {
   display: flex;
}

.button_ingredients {
    width: 170px;
    font-size: 18px;
}
#input_ingredient {
    height: 69px;
    background-color: $secondary;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
       &:focus {
           box-shadow: none;
       } 
         
}

.content_input_ingredient {
    display: none;
}
#input_ingredient::placeholder {
    color: white;
  
}
.chevron_up {
    padding-top: 27px;
}
