@import "bootstrap/bootstrap.scss";
@import "utils/_mixins.scss";
body {
    font-family: 'Lato', sans-serif;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px 75px;
    position: relative;
    top: 70px;
    z-index: 2;
    @include xl {
        grid-template-columns: 1fr 1fr;
        gap: 0px 163px;
    }
    @include lg {
        grid-template-columns: 1fr;
    }
    @include md {
        top: 200px;
        gap:0;
       
    }
}
#logo {
    width: 268px;  
}

.input_icon {
    background-color: $secondary;
}

/* INPUT */
#input {
    height: 69px;
    background-color: $secondary;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
       &:focus {
           box-shadow: none;
       }   
}

form span {
    width: 60px;
}

form img {
    height: 32px;
}

/* TAGS */
.tags {
    display: flex;
   
}
.tag {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 130px; 
    height: 37px;
    background-color: $primary;
    border-radius: 5px;
}
.spanclose {
    color: white;
}
.close {
    height: 20px;
    width:20px;
}

/* BOUTON ingrédients */
#boutton_ingredients {
   display: flex;
   position: absolute;
   z-index: 10;
   @include md {
       display: block; 
       width: 90%; 
      
   }
}

.bouton_et_input {
    @include md {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

.button_ingredients, .button_appareils, .button_ustensiles {
    width: 170px;
    font-size: 18px;
    @include md {
        width: 90%;  
        margin-bottom: 20px;
       
    }
}
.input_ingredient {
    height: 69px;
    background-color: $secondary;
    font-size: 18px;
       &:focus {
           box-shadow: none;
       } 
       &::placeholder {
           color: white;
       }
         
}

.ingredients, .appareils, .ustensiles {
    display: none;
 
}
.content_input {
    min-width: 200px;
    max-width: 800px;
    max-height: 397px;
}

.chevron_down {
    @include md {
        float: right;
    }
}

.chevron_up, .chevron_up2, .chevron_up3 {
    padding-top: 27px;
    cursor: pointer;

}
.content_list_ingredients {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  
   
}
.liste {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}



// ARTICLE ///
.article {
    width: 380px;
    height: 364px;
    margin-top: 100px;
    @include md {
        margin-left: auto;
        margin-right: auto;
    }
    @include sm {
        width: 290px;
        height: 270px;
    }
   
}

.img_article {
    width: 380px;
    height: 178px;
    background-color: #c7bebe;
    border-radius: 5px 5px 0px 0px;
    @include sm {
        width: 290px;
    }
}
.divrecette {
    width: 380px;
    height: 186px;
    background-color: $secondary;
    border-radius: 0px 0px 5px 5px;
    @include sm {
        width: 290px;
    }
}

.titre_et_temps, .icon_et_temps {
    display: flex;
}
.titre_et_temps {
    width: 100%;
    justify-content: space-between;
    padding-top: 15px;
}
.titre_recette {
    margin-left: 10px;
    
}
.icon_et_temps {
    margin-right: 10px;
}
.clock {
    margin-right: 7px;
}

.ingredients_et_description {
    display: flex;
}
.content_ingredients, .manuel_recette {
    width: 171px;
    height: 105px;
    margin-left: 10px;
    font-size: 12px;
    line-height: 15px;

    overflow: hidden;
    text-overflow: ellipsis;
}

.ingredient {
    font-weight: bold;
    height: 12px;
    white-space: nowrap;
}


.ligne_ingredient {
    display: flex;
    height: 14px;


}
.quantity_unit {
    margin-left: 5px;
    margin-bottom: 0;
}

.unit {
    overflow: hidden;
    text-overflow: ellipsis;
}


