@import "bootstrap/bootstrap.scss";
body {
    font-family: 'Lato', sans-serif;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px 75px;
    position: relative;
    top: 70px;
    z-index: 2;
}
#logo {
    width: 268px;  
}

.input_icon {
    background-color: $secondary;
}

/* INPUT */
#input {
    height: 69px;
    background-color: $secondary;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
       &:focus {
           box-shadow: none;
       }   
}

form span {
    width: 60px;
}

form img {
    height: 32px;
}

/* BOUTON ingrédients */
#boutton_ingredients {
   display: flex;
   position: absolute;
   z-index: 10;
}

.button_ingredients, .button_appareils, .button_ustensiles {
    width: 170px;
    font-size: 18px;
}
#input_ingredient {
    height: 69px;
    background-color: $secondary;
    font-size: 18px;
       &:focus {
           box-shadow: none;
       } 
       &::placeholder {
           color: white;
       }
         
}

.ingredients, .appareils, .ustensiles {
    display: none;
}
.content_input {
    max-width: 667px;
    max-height: 397px;
}

.chevron_up, .chevron_up2, .chevron_up3 {
    padding-top: 27px;
    cursor: pointer;

}

// ARTICLE
.article {
    width: 380px;
    height: 364px;
    margin-top: 100px;
   
}

.img_article {
    width: 380px;
    height: 178px;
    background-color: #c7bebe;
    border-radius: 5px 5px 0px 0px;
}
.divrecette {
    width: 380px;
    height: 186px;
    background-color: $secondary;
    border-radius: 0px 0px 5px 5px;
}

.titre_et_temps, .icon_et_temps {
    display: flex;
}
.titre_et_temps {
    width: 100%;
    justify-content: space-between;
    padding-top: 15px;
}
.titre_recette {
    margin-left: 10px;
    
}
.icon_et_temps {
    margin-right: 10px;
}
.clock {
    margin-right: 7px;
}

.ingredients_et_recette {
    display: flex;
}
.content_ingredients, .manuel_recette {
    width: 171px;
    height: 105px;
    margin-left: 10px;
    font-size: 12px;
}
.manuel_recette {
    overflow: hidden;
    text-overflow: ellipsis;
}
.ingredient {
    font-weight: bold;
    height: 12px;
}

.ingredient_quantity_unit {
    display: flex;
}
.quantity_unit {
    margin-left: 5px;
    margin-bottom: 0;
}


